<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1061228717684-cfo13r41fj6d0v12qtua4orqnt7g8g24.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1061228717684-cfo13r41fj6d0v12qtua4orqnt7g8g24</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1061228717684-fkval2bgj1se022cmp1n1vnoh6r9fgn1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB6OKRR2H7dNPkk7W01san7hjLEwo2CuzM</string>
	<key>GCM_SENDER_ID</key>
	<string>1061228717684</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.videoCallApp</string>
	<key>PROJECT_ID</key>
	<string>video-call-app-11709</string>
	<key>STORAGE_BUCKET</key>
	<string>video-call-app-11709.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1061228717684:ios:720649d53da3b64ac01321</string>
</dict>
</plist>